
.flash-box
  .notice グループを作成しました
.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name yokoi
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            %a{:href => "/groups/new"}
              %i.fa.fa-edit
          %li.side-header__box__menu__edit-user
            %a{:href => "/users/710/edit"}
              %i.fa.fa-cog
    .groups
      .group
        %p.group__group-name その1
        %p.group__latest-message メッセージ1
      .group
        %p.group__group-name その2
        %p.group__latest-message メッセージ2
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group グループ
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member 仮名
      .main-header__edit-btn Edit
    .messages
    .form
      %form#new_message.new_message{:method => "post"}
        .input-box
          %input#message_content.input-box__text{:placeholder => "type a message", :type => "text"}/
          %label.input-box__image{:for => "message_image"}
            %i.fa.fa-image
            %input#message_image.input-box__image__file{:type => "file"}/
        %input.submit-btn{:type => "submit", :value => "Send"}/
